@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Inter Variable', sans-serif;
    --color-ring: oklch(0.708 0 0);
    --color-input: oklch(0.922 0 0);
    --color-border: oklch(0.922 0 0);
    --color-destructive: oklch(0.577 0.245 27.325);
    --color-accent-foreground: oklch(0.205 0 0);
    --color-accent: oklch(0.97 0 0);
    --color-muted-foreground: oklch(0.556 0 0);
    --color-muted: oklch(0.97 0 0);
    --color-secondary-foreground: oklch(0.205 0 0);
    --color-secondary: oklch(0.97 0 0);
    --color-primary-foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.205 0 0);
    --color-foreground: oklch(0.145 0 0);
    --color-background: oklch(1 0 0);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
    }
  html {
    @apply font-sans;
    }
}